.dosContainer {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 100%;
}

/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */

.dosContainer img {
  /* margin-top: 2rem; */
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin-left: 1rem;
}

/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */

.dosContainer .rightSide {
  margin-right: 17rem;
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45rem;
}

.dosContainer .rightSide h1 {
  font-size: 1.6rem;
  font-family: var(--title1);
  color: var(--black);
  font-weight: 700;
  width: 80%;
}

.dosContainer .rightSide .link h4 {
  font-weight: 600;
  font-family: var(--title1);
  font-size: 0.8rem;
}

/* .dosContainer .rightSide p {
  color: gray;
  width: 90%;
} */

/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .dosContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .dosContainer img {
    width: 60%;
    height: auto;
    margin-top: 2rem;
  }

  .dosContainer .rightSide {
    margin-right: 0rem;
    margin-top: 0rem;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}
