.heroSection {
  background-image: url("../../assets/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection .heroContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */

.heroSection .heroContainer .leftSide {
  display: flex;
  flex-direction: column;
  margin-top: 16.5rem;
  margin-left: 17rem;
  gap: 1.5rem;
}

.heroSection .heroContainer .leftSide h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
  font-family: var(--title1);
}

.heroSection .heroContainer .leftSide h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--title1);
}

.heroSection .heroContainer .leftSide p {
  font-size: 0.9rem;
  color: var(--white);
  font-family: var(--title1);
  font-weight: 400;
  text-shadow: 1px 1px 1px var(--red);
}

.heroSection .heroContainer .leftSide .heroBtn {
  color: var(--red);
  transition: 0.2s ease-in;
}

.heroSection .heroContainer .leftSide .heroBtn:hover {
  letter-spacing: 1.1px;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */

.heroSection .heroContainer img {
  width: 45rem;
  height: 45rem;
  object-fit: contain;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 1rem;
  /* border: 0.5rem solid var(--white); */
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */

.heroSection .brands {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  width: 90%;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.heroSection .brands section {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.heroSection .brands img {
  width: 6rem;
  height: 3rem;
  object-fit: cover;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .heroSection {
    height: fit-content;
  }

  .heroSection .heroContainer {
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    gap: 3rem;
  }

  .heroSection .heroContainer .leftSide {
    width: 80%;
    margin-left: 0%;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
  }

  .heroSection .heroContainer img {
    width: 80%;
    height: auto;
    margin-top: 0;
  }
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */

@media (max-width: 700px) {
  .heroSection .brands {
    gap: 1rem;
    flex-direction: column;
  }
}
