.cuatroContainer {
  display: flex;
  flex-direction: row;
  /* background-image: url("../../assets/bg4.svg");
  background-repeat: no-repeat;
  background-size: contain; */
  width: 100%;
  position: relative;
  z-index: 5;
}

.cuatroContainer .background {
  position: absolute;
  right: -20rem;
  top: -10rem;
  z-index: -1;
  width: 60rem;
  height: auto;
}

/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */

.cuatroContainer .leftSide {
  margin-left: 17rem;
  margin-top: 15.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45rem;
}

.cuatroContainer .leftSide h1 {
  font-size: 1.6rem;
  font-family: var(--title1);
  color: var(--black);
  font-weight: 700;
  width: 80%;
}

.cuatroContainer .leftSide h4 {
  color: var(--red);
  font-weight: 600;
  font-family: var(--title1);
  font-size: 0.8rem;
}

/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */

.cuatroContainer img {
  margin-top: 8rem;
  width: auto;
  height: 30rem;
  object-fit: contain;
  margin-right: 1rem;
}

/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */
/* ////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .cuatroContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .cuatroContainer img {
    width: 60%;
    margin-top: 0px;
    margin-right: 0px;
    height: auto;
  }

  .cuatroContainer .background {
    display: none;
  }

  .cuatroContainer .leftSide {
    margin-left: 0rem;
    margin-top: 0rem;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
