.UnoContainer {
  display: flex;
  flex-direction: row;
  background-image: url("../../assets/bg1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */

.UnoContainer .leftSide {
  margin-left: 17rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 45rem;
}

.UnoContainer .leftSide h1 {
  font-size: 2rem;
  font-family: var(--title1);
  color: var(--black);
  font-weight: 600;
  width: 80%;
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */

.UnoContainer .rightSide {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0rem;
  /* column-gap: 2rem; */
  width: 50rem;
  margin-right: 17rem;
  margin-top: 5rem;
}

.UnoContainer .rightSide .step {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.UnoContainer .rightSide .step img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.UnoContainer .rightSide .step h5 {
  font-size: 1rem;
  font-family: var(--title1);
  font-weight: 500;
  color: var(--black);
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */

@media (max-width: 1000px) {
  .UnoContainer {
    background-image: none;
    flex-direction: column;
    align-items: center;
  }

  .UnoContainer .leftSide {
    margin-left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .UnoContainer .rightSide {
    width: 100%;
    height: fit-content;
    margin-right: 0px;
    margin-top: 0rem;
  }
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */

@media (max-width: 500px) {
  .UnoContainer .rightSide {
    grid-template-columns: auto;
  }
  .UnoContainer .rightSide .step {
    align-items: center;
    text-align: center;
  }
}
