.footerContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--black);
}

.footerContainer .top {
  margin-left: 17rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footerContainer .first {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 13rem;
  gap: 1.5rem;
}

.footerContainer .first h5 {
  font-family: var(--title2);
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
}

.footerContainer .first p {
  color: white;
  font-family: var(--title1);
  font-weight: 600;
  font-size: 0.7rem;
}

.footerContainer .second,
.footerContainer .third {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 13rem;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.footerContainer .second h6,
.footerContainer .third h6 {
  font-size: 0.8rem;
  color: white;
  font-family: var(--title1);
  font-weight: 700;
}

.footerContainer .second .services {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footerContainer .second .services p {
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
}

.footerContainer .third {
  margin-right: 17rem;
}

.footerContainer .third .signup {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: 20px;
  width: 20rem;
  height: 2rem;
}

.footerContainer .third .signup input {
  border-radius: 20px;
  border: none;
  padding-left: 1rem;
}

.footerContainer .third .signup input:focus {
  outline: none;
}

.footerContainer .third .signup .subscribeBtn {
  background-color: var(--red);
  border-radius: 20px;
  border: none;
  font-family: var(--title1);
  font-weight: 600;
  color: white;
  width: 10rem;
  transition: 0.2s ease-in;
}

.footerContainer .third .signup .subscribeBtn:hover {
  background-image: var(--gradient);
  letter-spacing: 1px;
}

@media (max-width: 1000px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .footerContainer .top {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-left: 0rem;
  }

  .footerContainer .third {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 0rem;
    margin-right: 0rem;
  }
}

@media (max-width: 500px) {
  .footerContainer .third .signup {
    width: 16rem;
    height: 2rem;
  }
}
